name: Build and Push FE Image (GHCR)

on:
  push:
    branches: ["deploy/VPS"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3

      - name: Login GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=raw,value=latest

      - name: Build & Push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            VITE_API_URL=${{ secrets.VITE_API_URL }}
            VITE_API_BASE_URL=${{ secrets.VITE_API_BASE_URL }}
            VITE_VIET_MAPS_API_KEY=${{ secrets.VITE_VIET_MAPS_API_KEY }}
            VITE_OPEN_MAP_API_KEY=${{ secrets.VITE_OPEN_MAP_API_KEY }}
            VITE_TRACKASIA_MAP_API_KEY=${{ secrets.VITE_TRACKASIA_MAP_API_KEY }}